<ion-header translucent>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"
        ><ion-icon name="close-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Dynamic Pokémon </ion-card-title>
      <ion-card-title> Type Chart v1.1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>An app made by a fan, for fans.</p>
      <p>
        The goal is to provide an easier way to get the Resistances and Weaknesses of the Pokémon
        types.
      </p>
      <br />
      <p>
        This is a side project focused on a mobile version and probably is not going to have a lot
        of attention. But feel free to send feedback or request changes for the source code. 🍝
      </p>
      <ion-label class="flex">
        <ion-chip>
          <ion-button
            fill="clear"
            class="flex"
            href="https://github.com/JuanG05/DynamicPokemonTypeChart"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ion-icon slot="icon-only" name="logo-github"></ion-icon>
          </ion-button>
        </ion-chip>
      </ion-label>
      <br />
      <p>
        The information was gathered from PokéApi, great source to consume information on Pokémon,
        their moves, abilities, types, egg groups and much, much more.
      </p>

      <ion-label class="flex">
        <ion-chip>
          <ion-button
            fill="clear"
            class="flex text-capitalized"
            href="https://pokeapi.co/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="./assets/pokeball.png" alt="pokeapi" />
            PokéApi
          </ion-button>
        </ion-chip>
      </ion-label>
      <br />
      <h3>Disclaimer</h3>
      <p>
        This app is not affiliated with or endorsed by The Pokémon Company, Nintendo, or any of
        their partners. All trademarks and copyrights belong to their respective owners. No
        copyright infringement intended. The app may contain errors or inaccuracies and may not be
        updated with the latest information.
      </p>
      <p></p>
    </ion-card-content>
  </ion-card>
</ion-content>
